@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

:root {
    --backgroundColor: #f5f5f5;
    --textColor: #333;
    --headingFontFamily: "Poppins", "Montserrat", sans-serif;
    --primaryColor: #af2623;
    --primaryContrast: #fff;
    --accentContrast: var(--textColor);
    --disabledColor: #7c2b2a;
    --disabledContrast: var(--textColor);
    --secundaryColor: #201a22;
    --borderColor: #201a22;

    --dangerColor: #af2623;
    --dangerContrast: var(--textColor);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

button {
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}

nav button {
    text-decoration: none;
    color: var(--primaryContrast);
    cursor: pointer;
    width: 100%;
}

ul a {
    color: var(--primaryContrast);
    background-color: var(--primaryColor);
    border: 1px solid var(--textColor);
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}

ol,
li {
    list-style: none;
}
img {
    display: block;
}

button {
    background: none;
    border: none;
}

body {
    font-family: var(--headingFontFamily);
    font-size: 12px;
    line-height: 1.5;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

.mainTitle {
    font-family: var(--headingFontFamily);
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 5px;
}

h1::after {
    content: "Way";
    color: var(--primaryColor);
}

.subtitle2 {
    font-family: var(--headingFontFamily);
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: var(--secundaryColor);
}

.container.itemsPosts2 .subtitle2,
.container.itemsPosts3 .subtitle2 {
    margin-top: 115px;
}

.subtitle {
    font-family: var(--headingFontFamily);
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: var(--primaryColor);
    padding-left: 9px;
    padding-bottom: 4px;
}

.mainContainer {
    padding-bottom: var(--navbarHeight);
    background-image: url(/Iconos/iconBackGround.png);
    background-size: 100vw 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.container.itemsPosts,
.container.itemsPosts2 {
    padding: 18px;
    padding-top: 0;
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container.itemsPosts4,
.container.itemsPosts3 {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}

.container.bottomSeparator {
    border-bottom: 2px solid var(--textColor);
}

.container.itemsPosts,
.container.itemsPosts2,
.container.itemsPosts3,
.container.itemsPosts4 {
    gap: 25px;
}

.userPerfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userPerfil {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.userPerfil .userImage {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 1.2rem;
}

.userPerfil {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart-posts,
.cart-likes {
    flex: 2;
    margin-block: 15px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--primaryContrast);
    font-weight: lighter;
    background-color: var(--borderColor);
    height: 3.5rem;
}

.cart-posts {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

.cart-likes {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}

.cart-likes span,
.cart-posts span {
    font-size: 1.3rem;
    font-weight: 600;
}

.userPerfil .subtitle2 {
    align-self: stretch;
    flex: 0 0 100%;
    text-align: center;
}

.userPerfil :nth-child(5),
.userPerfil :nth-child(6) {
    font-size: 0.8rem;
    width: 50%;
    text-align: center;
}

.container.itemsPosts4 .subtitle2 {
    font-size: 0.9rem;
}

.container.itemsPosts4 button,
.container.itemsPosts3 button {
    width: 60px;
}

@media (min-width: 717px) {
    .container.itemsPosts,
    .container.itemsPosts2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin-inline: 5%;
    }

    .container.itemsPosts .subtitle2,
    .container.itemsPosts2 .subtitle2,
    .userPerfil,
    .container.itemsPosts3 .subtitle2,
    .container.itemsPosts3,
    .container.itemsPosts4 {
        flex-basis: 100%;
    }

    .container.itemsPosts .card,
    .container.itemsPosts2 .card {
        flex-basis: 30%;
    }

    .container.itemsPosts3,
    .container.itemsPosts4 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        display: flex;
    }

    .userPerfil {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

    .userPerfil .userImage {
        grid-column: 1 / spam 2;
        grid-row: 1;
    }

    .userPerfil > :nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .userPerfil > :nth-child(5) {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        width: 100%;
    }

    .userPerfil > :nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .userPerfil > :nth-child(6) {
        grid-column: 2;
        grid-row: 3;
        text-align: center;
        width: 100%;
    }

    .userPerfil > :nth-child(4) {
        grid-column: 3;
        grid-row: 1 / span 3;
    }
    .portrait {
        width: 100%;
        max-height: 280px;
    }
}
